h1, h2, h3, h4, p{
  color: black;
}
.like-button{
  position: absolute;
}

#events-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.product-card{
  /*border: 1px solid black;*/
  background-color: #14213d62;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#event-info{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 1rem;
  filter: grayscale(0.5);
}
#event-info img{
  height: 8rem;
  width: 8rem;
  object-fit: cover;
  align-self: center;
  border-radius: 5px;

}
#event-info:hover{
  filter: grayscale(0);
  box-shadow: 1px 1px 25px 10px rgba(0, 0, 0, 0.493);
}
#event-info h2{
  font-size: 1.3rem;
}
.event-text{
  margin: 0;
  font-size: 1rem;
}
.right{
  text-align: right;
}



@media screen and (min-width: 500px) {

}

