h1, h2, h3, h4, p{
  color: black;
  margin: 0;
}
.right{
  text-align: right;
}
/*Header*/
#header-section{
margin-bottom: 2rem;
display: flex;
justify-content: space-around;
align-items: center;
}
#nav-bar{
  width: 100%;
}
#nav-bar ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-bar ul li{
  list-style: none;
  margin: auto 2rem;
  min-height: fit-content;
  min-width: fit-content;
  height: 3rem;
  width: 12vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-bar ul li:hover{
  background-color: #e5e5e5;
  transition: background-color 0.5s;
}
#nav-bar ul li a{
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: black;
}

/*Logo*/
#logo-header img{
  filter: grayscale(0.5);
  filter: blur(0.4);
  height: 2rem;
  width: auto;
  margin-right: 1rem;
}
#logo-header{
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
#logo-header h1{
  font-size: 1.8rem;
}
#header-section{
  display: flex;
  align-items: center;
  justify-content: center;

}
#cart-img{
  width: 2rem;
  margin-right: 1rem;
}
/*Search and Category*/
#searching-area, #category-selector{
  margin-left: 5rem;
}
#search-form{
  display: inline-block;
  width: fit-content;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #14213d85;
  border-radius: 20px;
}
::placeholder{
  opacity: 1;
  color: white;
}
#search-button, #searching-box{
  border: none;
  background-color: transparent;
  display: inline-block;
  height: 1rem;
}
#searching-box{
  width: 20vw;
}
#selectCategory{
  border-radius: 20px;
  min-height: fit-content;
  height: 1.5rem;
}

/*Events Grid*/
.like-button{
  position: absolute;
}
#events-grid{
  display: flex;
  /*grid-template-columns: 1fr 1fr 1fr;*/
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5rem;
  margin-top: 1rem;
  background-color: #14213d85;
  border-radius: 8px;
}
.product-card{
  /*border: 1px solid black;*/
  background-color: #e5e5e573;
  border-radius: 8px;
  padding: 5px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  filter: grayscale(0.5);
  width: min-content;
  height: auto;
}
#event-info{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 1rem;
}
#event-info img{
  height: 8rem;
  width: 8rem;
  object-fit: cover;
  align-self: center;
  border-radius: 8px;
}
.product-card:hover{
  filter: grayscale(0);
  box-shadow: 1px 1px 5px 5px #14213d33;
  background-color: #e5e5e5e1;
  transition: box-shadow 0.2s;
}
#event-info h2{
  font-size: 1.2rem;
}
.event-text{
  margin: 0;
  font-size: 0.8rem;
  font-weight: 600;
}

/*Event display*/
#main-event-pages{
  margin-left: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr; 
}

.event-details{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background-color: #14213d33;
  border-radius: 8px;
  padding: 1rem;
  margin-left: 1rem;
  max-height: 100%;
  width: 100%;
}
.event-details h2{
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.event-details h4{
  text-align: right;
  font-size: 0.9rem;
}
#event-details img{
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  border-radius: 8px;
}
#buyEvent{
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  background-color: #fca311;
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: fit-content;
  align-self: flex-end;
}
#event-details{
  grid-column: 1/2;
  
  display: flex;
  align-items: flex-end;
  height: 20vw;
  width: 100%;
}
/*Other events display*/
#other-events .product-card a img{
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}
#other-events .product-card a p, #other-events .product-card a h3{
  display: none;
}
#other-events .product-card #event-info{
  display: flex;
  flex-direction: row;
}
#other-events .product-card a h2{
  font-size: 0.8rem;
}
#other-events .product-card a h4{
  font-size: 0.4;
  color: red;
  align-self: flex-end;
}
#other-events .product-card a{
  padding: 0;
}
.other-events{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  padding: 0.5rem;
}
#other-events{
  display: flex;
  flex-wrap: wrap;
}
.other-events h2{
  text-align: center;
}



@media screen and (min-width: 500px) {

}

